<article class="snowflake--jumbotron">
    <section class="-title">
        <h1>Snowflake</h1>
        <p>Fast, deterministic, portable, sandboxed builds.</p>
    </section>
    <p class="-links">
        <a href="install.html">Install</a>
        <a href="intro.html">Intro</a>
    </p>
    <pre class="-example">genrule {
  name = "test-case",
  inputs = { "+hello-world.c", ":gcc" },
  outputs = { "@hello-world" },
  command = [[
    export PATH="$PATH:$(loc :gcc)/bin"
    cc -o "$(loc @hello-world)" \
          "$(loc +hello-world.c)"
  ]],
}</pre>
</article>
