<article class="snowflake--document">
    <h1>Intro</h1>
    <p>
        Snowflake is a language-agnostic, toolchain-agnostic build system
        built on top of Nix. Like other build systems, with Snowflake you can
        write rules which turn sources into build artifacts. However, for
        every rule Snowflake will generate a Nix derivation, which means that
        the rule can depend on any number of Nix packages, and the artifacts
        are content-addressable and cached indefinitely for instant rebuilds
        even across different versions of your software. Snowflake is
        essentially a DSL for defining granular Nix derivations.
    </p>
    <p>
        Build files, which define derivations, are written in Lua. Snowflake
        will execute the build file, generate a Nix expression from the
        specified derivations and command-line arguments, and pass this Nix
        expression to <em>nix-build</em>.
    </p>
    <h2>Building an example</h2>
    <p>
        The <strong>build</strong> command will execute the Lua code in the
        file <em>snowflake.lua</em> in the working directory. This file is
        known as the <strong>build file</strong>. The build file defines
        derivations, which describe the build steps and their dependencies.
        Let's take a look at an example of a build file that defines a single
        derivation, and the corresponding source file.
    </p>
    <figure>
        <figcaption>Example source file: <em>hello-world.c</em>.</figcaption>
        <pre>#include &lt;stdio.h>

int main()
{
    printf("Hello, world!\n");
    return 0;
}</pre>
    </figure>
    <figure>
        <figcaption>Example build file: <em>snowflake.lua</em>.</figcaption>
        <pre><a href="nixrule.html">nixrule</a> {
    name = "gcc",
    nixexpr = "nixpkgs.gcc",
}

<a href="genrule.html">genrule</a> {
    name = "test-case",
    inputs = { "+hello-world.c", ":gcc" },
    outputs = { "@hello-world" },
    command = [[
        export PATH="$PATH:$(loc :gcc)/bin"
        cc -o "$(loc @hello-world)" "$(loc +hello-world.c)"
    ]],
}</pre>
    </figure>
    <p>
        To build the example, execute the <strong>build</strong> command
        passing the name of the derivation. The executable will appear in
        <em>result/hello-world</em>.
    </p>
    <figure>
        <figcaption>Building and running the example.</figcaption>
        <pre>$ snowflake build hello-world
$ result/hello-world
Hello, world!</pre>
    </figure>
</article>
