<article class="snowflake--document">
    <h1>Labels</h1>
    <p>
        Labels refer to source files, output files from other derivations,
        and output files from the current derivation. Each of these have
        their own syntax. Labels are used by
        <a href="genrule.html"><em>genrule</em></a>
        and anything else that is built on top of
        <a href="genrule.html"><em>genrule</em></a>.
    </p>
    <p>
        Labels for source files are of the form <code>+&lt;filename></code>.
        They refer to a file in the same directory as the build file. These
        files are available for reading by the command of the derivation.
    </p>
    <p>
        Labels for output directories from other derivations are of the form
        <code>:&lt;derivation></code>. The files in these directories are
        available for reading by the command of the current derivation. The
        alternative form <code>:&lt;derivation> &lt:filename></code> refers to
        a file in the output of the derivation.
    </p>
    <p>
        Labels for output files from the current derivation are of the form
        <code>@&lt;filename></code>. These files must be created by the
        command of the derivation.
    </p>
    <p>
        Build commands may use the <strong>loc</strong> function to get the
        file path of a label. For example, to copy source file <em>foo.h</em>
        to target file <em>bar.h</em>, use the following build command.
    </p>
    <figure>
        <figcaption>
            Example build command that copies a source file to an output file.
        </figcaption>
        <pre>cp "$(loc +foo.h)" "$(loc @bar.h)"</pre>
    </figure>
</article>
