<article class="snowflake--document">
    <h1>nixpkgs</h1>
    <p>
        The <strong>nixpkgs</strong> function sets the nixpkgs attrset, which
        is used for looking up Nix packages. In case <em>nixpkgs</em> is
        called multiple times, the call that is evaluated last wins. The main
        use cases are pinning the Nix packages version, and overriding Nix
        packages.
    </p>
    <p>
        The default Nix expression is used if this function is not called. It
        is <code>import &lt;nixpkgs> {}</code>.
    </p>
    <figure>
        <figcaption>
            Example build file using <em>nixpkgs</em> to specify a custom
            nixpkgs attrset.
        </figcaption>
        <pre>nixpkgs "import ./nix/nixpkgs.nix {}"</pre>
    </figure>
    <figure>
        <figcaption>
            An example <em>nix/nixpkgs.nix</em> file to be used by the above
            example build file.
        </figcaption>
        <pre>let
    tarball = fetchTarball {
        url = "https://github.com/NixOS/nixpkgs/archive/18.03.tar.gz";
        sha256 = "0hk4y2vkgm1qadpsm4b0q1vxq889jhxzjx3ragybrlwwg54mzp4f";
    };
in
    import tarball</pre>
    </figure>
</article>
