@import '../vendor/reset.scss';

$phi: 1.61803398875;

$unit: 16px;
$page-width: 980px;

$primary-color: rgb(37, 186, 255);
$secondary-color: rgb(241, 241, 241);

@mixin button
{
    background: $primary-color;
    border-radius: $unit;
    color: white;

    font-weight: bold;
    text-decoration: none;

    line-height: $unit * $phi;
    padding: $unit * $phi;

    align-items: center;
    display: flex;
    justify-content: center;

    &:hover
    {
        background: darken($primary-color, 10%);
    }
}

*
{
    box-sizing: border-box;
}

body
{
    background: $secondary-color;
    font-family: 'Roboto', sans-serif;
    font-size: $unit;
}

h1
{
    font-size: 3 * $unit;
    font-weight: bold;

    line-height: 3 * $unit * $phi;
}

h2
{
    font-size: 2 * $unit;
    font-weight: bold;

    line-height: 2 * $unit * $phi;
}

p
{
    line-height: $unit * $phi;
}

pre
{
    font-family: monospace;

    line-height: $unit * $phi;
}

figcaption
{
    line-height: $unit * $phi;
}

em
{
    font-style: italic;
}

strong
{
    font-weight: bold;
}

code
{
    font-family: monospace;
    font-size: 0.9em;
}

dl
{
    display: flex;
    flex-wrap: wrap;

    > dt, > dd
    {
        line-height: $unit * $phi;
    }

    > dt
    {
        flex: 0 0 20%;

        display: inline-block;

        font-weight: bold;
    }

    > dd
    {
        flex: 0 0 80%;

        display: inline;

        &:after
        {
            display: block;
            content: '';
        }
    }
}

.snowflake--main-navigation,
.snowflake--documentation-navigation
{
    font-weight: bold;

    line-height: $unit * $phi;
    margin: auto;
    max-width: $page-width;
    padding: $unit * $phi / 2;

    > .-links
    {
        display: inline;

        > li
        {
            display: inline;
        }
    }

    > .-logo, > .-links > li > a
    {
        color: white;
        padding: $unit;
        text-decoration: none;
        &:hover {
            background: rgba(255, 255, 255, 0.4);
        }
    }
}

.snowflake--main-navigation
{
    background: $primary-color;
}

.snowflake--documentation-navigation
{
    background: lighten($primary-color, 10%);
}

.snowflake--document,
.snowflake--jumbotron
{
    margin: auto;
    padding: $unit * $phi;
    max-width: $page-width;
}

.snowflake--document
{
    background: white;

    > figure, > p, > pre
    {
        margin: $unit * $phi 0;
    }

    > figure
    {
        background: $secondary-color;

        > figcaption
        {
            background: darken($secondary-color, 10%);
            padding: $unit;
        }

        > pre
        {
            padding: $unit;
            overflow-x: auto;
        }
    }
}

.snowflake--jumbotron
{
    background: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: $unit * $phi;
    > .-title       { grid-area: 1 / 1 / 2 / 2; }
    > .-links       { grid-area: 2 / 1 / 3 / 2; }
    > .-example     { grid-area: 1 / 2 / 3 / 3; }

    > .-title
    {
        padding-bottom: $unit * $phi;
    }

    > .-links
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $unit * $phi;

        > a { @include button(); }
    }

    > .-example
    {
        background: $secondary-color;
        border-radius: $unit;

        padding: $unit * $phi;
    }
}
